/*------------- google font---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* -----------------------------
universal selector
------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*----------------------------
 common section
 -------------------------- */
body
{
    font-family: 'Poppins', sans-serif;
}
.full-page
{
    height: 100vh;
    width: 100vw;
}
.container
{
    width: 1350px;
    margin: 0 auto;
    margin-top: 50px;

    
}
/*---------------------------
 header section start 
 --------------------------*/
 .header-element
 {
    display: flex;
    justify-content: space-around;
    background-color: #161616;
    height: 100%;
    width: 100%;
    border-radius: 30px;

 }
 .header-element div
 {
    width: 50%;
    height: 100%;
 }
 .header-info
 {
    color: #fff;
    padding: 70px 50px  50px 100px;
 }
 .header-info h1
 {
    font-size: 4em;
    margin-bottom: 30px;
 }
 .header-info p
 {
    margin-bottom: 30px;
 }
 .header-info button
 {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #db0000;
    border: none;
    margin-top: 20px;
    
 }
 .header-info button a
 {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
 }

 .header-info button:hover
 {
   background-color: transparent;
   border: 2px solid #ff0000;
   transition: .2s ease-in;
 }
 .header-info button:hover a
 {
   color: #ff0000;
   transition: .2s ease-in;
 }

 .header-info button .fa-angle-right
 {
    margin-left: 10px;
 }
 .header-element .header-image
 {
    height: 100%;
 }
 .header-element .header-image img
 {
  width: 550px;
  margin-top: 60px;
}
 /*---------------------------
 header section end 
 --------------------------*/
 /*---------------------------
 blog section start 
 --------------------------*/
 article .container
 {
   margin-top: 100px;
 }
.blog-element
{
   display: flex;
}
.blog-element aside
{
   background-color: #161616;
   height: 320px;
   width: 315px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 10px;
   margin-right: 30px;
}
.blog-element aside button
{
   background-color: rgb(241, 241, 241);
   border-radius: 10px;
   width: 240px;
   margin: 15px 0;
}

.blog-element aside button a
{
   text-decoration: none;
   font-size: 20px;
   color: #000;
   padding: 18px 35px;
   display: inline-block;
}
.blog-element aside button:nth-child(1)
{
   background-color: #db0000;
}
.blog-element aside button:nth-child(1) a
{
   color: #fff;
}

.blog-element .blogs
{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 30px;
}
.blog-element .blogs .blog
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 315px;
    box-shadow: 0px 0px 2px rgba(139, 139, 139, 0.452);
    padding: 40px 0;
    border-radius: 15px;
}
.blog-element .blogs .blog .image
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-element .blogs .blog .image  span
{
    margin: 0 10px;
}
.blog-element .blogs .blog .image img
{
   width: 100px;
}
.blog-element .blogs .blog .blog-info h4
{
   margin-bottom: 10px;
   margin-top: 20px;
}

.blog-info .schedule-message .schedule span
{
    font-size: 14px;
    color: #a3a3a3;
    margin-left: 8px;
}

  /*---------------------------
 blog section end 
 --------------------------*/
   /*---------------------------
 footerr section start
 --------------------------*/
footer
{
   width: 100%;
   height: 500px;
   background-color: #161616;
   margin-top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
footer h2
{
   font-size: 3em;
   font-weight: 500;
   color: #fff;
}
footer hr
{
   width: 1200px;
   margin: 30px;
   margin-bottom: 35px;
}
footer a
{
   text-decoration: none;
   color: rgb(197, 197, 197);
   margin: 0 20px;
}
footer .footer-icon
{
   margin-top: 30px;
}
footer .footer-icon span
{
   margin: 0 20px;
   color: #fff;
   font-size: 30px;
}
footer .footer-icon span:hover a
{
   
   color: #a3a3a3;
   
}


   /*---------------------------
 footerr section end 
 --------------------------*/

 /* responsive for mobile start */
 @media only screen and(max-width:580px) {
   
 }
 /* responsive for mobile end */


 /* responsive for tablet start */
 /* responsive for tablet end */
